body{ 
    color: rgb(194, 40, 40);
    background: rgb(219, 69, 224);
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

header{ 
   border-bottom: solid 2px yellow;
   padding: 20px;
   font-size: 32px;
   color: rgb(255, 17, 0);
}

section{ 
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{ 
    margin-right: 5%;

}

h1{
    font-size: 40px;
}
p{
    font-size: 40px;
}
 img{
    height: 200px;
 }
 .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }